apiVersion: v1
kind: Secret
stringData:
  # Change the values below to the values of your Minio or S3 bucket.
  access_key_id: ${S3_ACCESS_KEY}
  access_key_secret: ${S3_SECRET_KEY}
  bucket: tempo-traces
  endpoint: ${S3_ENDPOINT}
  region: ${S3_REGION}
metadata:
  name: coo-tracing-tempo
  namespace: observability
type: Opaque
